@tailwind base;
@tailwind components;
@tailwind utilities;

.containere {
  max-width: 1200px;
  margin: auto;
}

.overly {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}
.text-size {
  font-size: 0.4rem;
}
